* {
    -fx-font: normal.AppleSystemUIFont;
}
.menu {
    -fx-start-margin: 0;
}

GridPane {
    -fx-background-color: #3b3b3b;
}

.button {
    -fx-background-color: #3b3b3b;
    -fx-border-color: #464646;
    -fx-border-width: 1px;
    -fx-border-radius: 0;
    -fx-background-radius: 0;
}

.button:pressed {
    -fx-background-color: #464646;
}